name: Run Python Script and Push Changes

permissions:
  contents: write  # Explicitly set permission to write to the repository
  
on:
  schedule:
    - cron: "0 */4 * * *"
  workflow_dispatch:

env:
  LC_ALL: es_ES.UTF-8

jobs:
  modify-file:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Check out the repository
    - name: Check out the repository
      uses: actions/checkout@v3

    # Step 2: Set up Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'  # Specify the Python version

    # Step 3: Install any dependencies (if needed)
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt  # If you have dependencies listed
    
    - name: es_ES.UTF-8
      run: |
          sudo locale-gen es_ES.UTF-8
          sudo update-locale LANG=es_ES.UTF-8
    
    - name: date
      run: |
          date

    # Step 4: Run the Python script to modify a file
    - name: Run Python script
      run: python scraper_app.py  # Your Python script here

    - name: en_US.UTF-8
       run: |
          sudo update-locale LANG=en_US.UTF-8
          date

    # Step 5: Configure Git user and commit changes
    - name: Commit and push changes
      run: |
        FILE_TO_CHECK="docs/caudales.json"
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        echo "Git status after running script"
        git status
        echo "Git DIFF"
        git diff
        git stash
        git fetch origin
        git checkout --track origin/caudales
        git stash pop || exit 0
        git add $FILE_TO_CHECK
        timestamp=$(date -u)
        git commit -m "Actualizando caudales: ${timestamp}"
        git rebase main
        git push --force
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Token for authentication
